
.schedule-component h3 {
    font-size: 1.4em;
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center; 
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


.schedule-table-container {
    overflow-x: auto; 
    width: 80%; 
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95em; 
    color: #555; 
    text-align: center; 
}

.schedule-table td {
    border: 1px solid #ddd;
    padding: 10px 5px; 
    white-space: nowrap; 
}

.schedule-table th {
    background-color: #f8f8f8; 
    color: #333; 
    font-weight: bold;
}

.schedule-table td.time-slot {
    text-align: center; 
    font-weight: bold;
    color: #333; /
}

.schedule-table td:empty {
    background-color: #fbfbfb; 
}