.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 600px;
    width: 100%;
}

.classroom-component h3 {
    font-size: 1.4em;
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


.classroom-list {
    list-style: none;
    padding: 0;
}


.classroom-list li {
    margin-bottom: 10px;
    font-size: 1.1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #555;
}

.classroom-list li strong {
    color: #222;
    margin-right: 5px;
}

.classroom-list li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}